<ul>
    <li><a href="/search">Search</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/logout">Logout</a></li>
    
</ul>

<form action="/upload" enctype="multipart/form-data" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title" required>
    <label for="file">File</label>
    <input type="file" id="file" name="file"  accept=".pdf" required>
<button type="submit">Upload</button>
</form>